doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href="http://localhost:3000") Início
    a(href="http://localhost:3000/texto") Textos
    block content
