doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href="http://localhost:3000") Home 
    a(href="http://localhost:3000/lista") Lista
    a(href="http://localhost:3000/contato") Contato 
    a(href="http://localhost:3000/quem-somos") Sobre nos 
    block content
