extends ../layout

block content
  h1 Adicionar Coment치rio
  
  if errors
    ul
      each error in errors
        li= error.msg
  
  form(method='POST' action='/comentario/create')
    div
      label(for='descricao') Coment치rio:
      textarea(id='descricao' name='descricao' required)
    div
      label(for='cod_usuario') Usu치rio:
      select(id='cod_usuario' name='cod_usuario' required)
        each usuario in usuarios
          option(value=usuario.id)= usuario.nome
    div
      label(for='cod_postagem') Postagem:
      select(id='cod_postagem' name='cod_postagem' required)
        each postagem in postagens
          option(value=postagem.id)= postagem.titulo
    button(type='submit') Adicionar Coment치rio