extends layout

block content
  h2 Login

  if erros
    ul
      each erro in erros
        li= erro.msg

  form(method="POST" action="/login")
    label(for="email") E-mail:
    input(type="email" name="email" value=(valores && valores.email) || '')
    br

    label(for="senha") Senha:
    input(type="password" name="senha")
    br

    button(type="submit") Entrar
